/*! Reset -------------------------------------------*/
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}


/*! Theme -------------------------------------------*/

/* elements */
html,
body {
  height: 100%;
  font-family: 'Nanum Gothic', sans-serif;
}

a,
button {
    color: inherit;
}

button,
input,
select,
textarea {
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
}

code,
pre {
    letter-spacing: 0;
    text-align: left;
    vertical-align: baseline;
    word-spacing: 0;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: Monaco, Consolas, 'Ubuntu Mono', 'Courier New', Courier, monospace;
    direction: ltr;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;
}

/* outer container */
.wrap {
  position: relative;
  min-height: 100%;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e1bee7), to(#b2ebf2));
  background-image: linear-gradient(to bottom right, #e1bee7, #b2ebf2);
}
.wrap::after {
  content: '';
  position: fixed;
  right: 0;
  bottom: 50px;
  display: block;
  width: 300px;
  height: 210px;
  background: url(img/unicorn.png) no-repeat;
}

/* header */
.header-logo {
  padding: 50px 0 25px;
  color: #fff;
  text-align: center;
  font-family: 'Lobster', serif;
  font-size: 80px;
}
.header-right {
  padding-top: 47px;
  background: url(img/rainbow.png) no-repeat center top;
  text-align: center;
}
.header-nav-menu {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

/* main content */
.content-sizer {
  color: #fff;
  text-align: center;
}

.upload-button {
  display: inline-block;
  width: 800px;
  margin: 8px 0 0;
  padding: 3px 0;
  color: #9e54ed;
  border: 2px solid #a764ed;
  border-radius: 5px;
  font-family: 'Lobster', serif;
  font-size: 20px;
  cursor: pointer;
}

.output {
  width: 800px;
  margin: 15px auto;
  padding: 15px;
  color: #df67f4;
  background: #fff;
}

.preview {
  margin-top: 10px;
}

/* footer */
.footer {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  text-align: center;
}
.footer-sizer {
  display: inline-block;
  padding-left: 44px;
  background: url(img/star.png) no-repeat left center / auto 100%;
}
.contributors li {
  display: inline-block;
}
.contributors a {
  color: #8700fc;
  text-decoration: none;
}
.footer-license {
  color: #7c21dd;
}